*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

i {
    color: white;
    font-size: 25px;
    margin-left: -30px;
}

.container {
    background-image: url("img/login.jpg");
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form {
    background-color: #55d0ff;
    border: 1px solid white;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px 15px;
    border: none;
    background-color: #55d0ff;
    outline: none;
}

.login-btn {
    background-color: white;
    border: none;
    padding: 15px 0;
    border-radius: 5px;
    color: slategrey;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 2px;
}

.btn button {
    width: 50%;
    padding: 15px 0;
    border: 1px solid #47c9fc;
    border-radius: 5px;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
}


#login {
    background-color: #55d0ff;
}